.menu-item {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.menu-item.active-scroll {
  transform: scale(1.1);
}

.menu-item::after{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:26px;             /* толщина полосы */
  background:#fff;
  transform:skewX(-8deg);
  transform-origin:left bottom;
  transition:width .35s ease;
  z-index:1;               /* было -1 → стало 1  */
}


.menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 110%;
  background-color: white;
  transform: translateY(-50%) skewX(-20deg);
  transition: all 0.5s ease;
  z-index: 0;
}

.menu-item.active-scroll::before {
  left: 0;
}

.menu-item a {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3rem;
  text-align: center;
  transition: all 0.3s ease;
}

@keyframes growX {
  from { transform: scaleX(0); opacity: 0; }
  to   { transform: scaleX(1); opacity: 1; }
}