@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:rotate:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
  }

  
  .icon {
    transition: transform 0.5s ease-in-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #000; /* Цвет фона скроллбара */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Цвет ползунка */
    border-radius: 10px; /* Скругление углов */
    border: 2px solid #000; /* Обводка ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.whiteBlack {
  --bg-color: #ededed;
  --text-color: #161414;
}

/* Dark theme */
.blackWhite {
  --bg-color: #0a0a0a;
  --text-color: #ffffff;
}

/* Custom theme */
.customColor {
  --bg-color: linear-gradient(to right, #4f46e5, #ec4899); /* Gradient background */
  --text-color: #1b1818;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
 background-image: var(--bg-color);
}
